extends base


block content
        .information
            .information-content
                p.the-title Rubaccine
                .secure-email-back
                    svg.icon-title
                        use(href='/img/sprite.svg#icon-arrow_back_ios')
                    a(href='/')
                        p.sub-title BACK TO SHOP
                .information-content-details
                    .information-content-details-boxs
                        #checkout-progress(style='display: block;')
                            ul
                                //  Still have to add active class to the squares💥💥💥💥💥 to progress-details 
                                li.progress-details.activ.complete.bold#progress-details(data-stage='details')
                                    .progress-box.progress-box-with-bg-black
                                    span Your details
                                li#progress-delivery.activ.activ.complete.bold(data-stage='delivery')
                                    .progress-transition
                                    .progress-box.progress-box-with-bg-black
                                    span Delivery
                                li#progress-review.activ.activ.complete.bold(data-stage='review')
                                    .progress-transition
                                    .progress-box.progress-box-with-bg-black
                                    span Review
                                li#progress-payment.activ.activ.complete.bold(data-stage='payment')
                                    .progress-transition
                                    .progress-box.progress-box-with-bg-black
                                    span Payment
            .payment-methods
                .payment-methods-content
                    .payment-methods-content-card
                        p THANK YOU, WE HAVE SUCCESSFULLY RECEIVED YOUR ORDER
                    .payment-methods-content-confirm
                        p(style='margin-bottom: 2rem;') YOUR ORDER NUMBER IS
                        p.orderNumber 864567
                    .payment-methods-content-gift-card
                        p.text-thinny=` We have sent an email confirmation to ${user.email}. You can check and track the progress of your order account`
                        a(href='/account')
                            button.btn-redeem
                                u YOUR ACCOUNT
                        a(href='/')
                            button.btn-black-pay(style='margin: 2rem;') CONTINUE SHOPPING
            //-         .payment-methods-content-card
            //-             p ORDER SUMMARY
            //- .product-review
            //-     .product-review-content
            //-         .product-review-content-product
            //-             .checkout-page-2-container-item
            //-                 .checkout-page-2-container-item-header
            //-                     .checkout-page-2-container-item-header-img(style='justify-content: flex-start;')
            //-                         p Product
            //-                     .checkout-page-2-container-item-header-colour.



            //-                     .checkout-page-2-container-item-header-size
            //-                         p SIZE
            //-                     .checkout-page-2-container-item-header-quatity
            //-                         p COLOUR
            //-                     .checkout-page-2-container-item-header-price
            //-                         p Quatity
            //-                     .checkout-page-2-container-item-header-close
            //-                         p PRICE
            //-                 p.vl6
                            //  
                            //- each data in Object.values(session.cart.items) 
                            //-     .checkout-page-2-container-item-product
                            //-         .checkout-page-2-container-item-product-img
                            //-             img.img(src=`/img/${data.item.imageCover}` alt='clothing')
                            //-         .checkout-page-2-container-item-product-colour
                            //-             p.sub-title=`${data.item.name}`
                            //-         .checkout-page-2-container-item-product-quatity
                            //-             p.sub-title-prim=`SIZE: ${data.item.size[1]}`
                            //-         .checkout-page-2-container-item-product-quatity
                            //-             p.sub-title-prim=`${data.item.color[0]}`
                            //-         .checkout-page-2-container-item-product-price
                            //-             label.item-quantity(aria-live='polite' tabindex='0' aria-label='1')=`${data.qty}`  
                            //-         .checkout-page-2-container-item-product-close
                            //-             p.sub-title=`£${(data.item.price.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}))*(data.qty)}`
                            //-     //  💪 gift card code 
                            //-     .checkout-page-2-container-item-product(style='height: 0rem;')
                            //-         .checkout-page-2-container-item-product-img.


                            //-         .checkout-page-2-container-item-product-colour.


                            //-         .checkout-page-2-container-item-product-size.


                            //-         .checkout-page-2-container-item-product-quatity.


                            //-         .checkout-page-2-container-item-product-price
                            //-             p.sub-title SUBTOTAL
                            //-         .checkout-page-2-container-item-product-close
                            //-                 p.sub-title=`£${(data.item.price.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}))*(data.qty)}`
                            //-     .product-review-content-total
                            //-         .product-review-content-total-grid1
                            //-             .product-review-content-total-grid1-box
                            //-                 .product-review-content-total-grid1-box-left
                            //-                     .product-review-content-total-grid1-box-left-box-1
                            //-                         p(style='margin: 2rem 0rem;') SUBTOTAL
                            //-                         p NEXT BUSINESS DAY DELIVERY - ORDER BEFORE 2PM
                            //-                     .product-review-content-total-grid1-box-left-box-2
                            //-                         p(style='margin: 2rem 0rem;')=`£${(data.item.price.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}))*(data.qty)}`
                            //-                         p £0
                            //-                 .product-review-content-total-grid1-box-right
                            //-                     .product-review-content-total-grid1-box-right-box-1
                            //-                         span TOTAL
                            //-                         tg VAT
                            //-                     .product-review-content-total-grid1-box-right-box-2
                            //-                         span=`£${(data.item.price.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2}))*(data.qty)}`
                            //-                         tg=`£${(session.cart.totalPrice.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})* 0.17).toFixed(2)}`

            .secure-suppurt
                .checkout-page-2-container-support
                    .checkout-page-2-container-support-title
                        p.title-support QUESTION OR SUPPORT?
                        p.sub-support
                            | Send us an email to: 
                            b ask@rubaccine.com
                        p.sub-support(style='margin-bottom: 0rem;') Where a member of our Customer Experience team will be happy to assist you.
                        p.sub-support-1 We are open 9am-11pm BST Monday to Friday.
                    .checkout-page-2-container-support-methods
                        img.pay-icon(src='/img/visa-logo@logotyp.us.svg' alt='icons')
                        img.pay-icon(src='/img/mastercard-maestro-logo@logotyp.us.svg' alt='icons')
                        img.pay-icon(src='/img/american-express-logo@logotyp.us.svg' alt='icons')
                        img.pay-icon(src='/img/paypal-logo@logotyp.us.svg' alt='icons')
                        img.pay-icon(src='/img/mastercard-4.svg' alt='icons')
                        img.pay-icon6(src='/img/klarna 1.svg' alt='icons')